@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background: "url('/shared/desktop/bg-pattern-leaf.svg')";
  background-size: auto;
  background-repeat: no-repeat;
  background-position: left center; */
  font-family: "Jost", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 26px;
}

h1  {
  font-size: 48px;
  line-height: 48px;
}

h2 {
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 2px;
}

h3 {
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 5px;
}

.header-callback {
  background-image: url('/shared/desktop/bg-pattern-call-to-action.svg');
  background-color: #e7816b;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.footer-callback {
  background-image: url('/shared/desktop/bg-pattern-call-to-action.svg');
  background-color: #e7816b;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}